-# %nav.navbar.navbar-dark.navbar-expand-md.bg-dark
  -# = link_to '123', admin_admins_path, class: 'navbar-brand'
  -# #navbar.collapse.navbar-collapse
    -# %ul.navbar-nav.mr-auto
      -# %li.navbar-item
